[id^="ch"] {
    display: none;
}

[id^="ch"]:checked ~ .content {
    display: block;
}

[id^="ch"]:checked ~ label {
    display: none; 
}

.content {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: #fff;
    padding: 3px 13px;
    border-radius: 3px;
}
