[id^="ch"] {
    display: none;
}

[id^="ch"]:checked ~ .content {
    display: block;
}

[id^="ch"]:checked ~ label {
    display: none; 
}

.content {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: #fff;
    padding: 3px 13px;
    border-radius: 3px;
}

.log-in-button {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    border: 1px solid #000000; /* Black border */
    padding: 10px 20px; /* Padding */
    border-radius: 25px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s, color 0.3s;

    position: fixed;
    top: 10px; /* Adjust top position as needed */
    right: 150px; /* Adjust right position as needed */
    z-index: 999; /* Ensure it's above other elements */
}

.log-in-button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.start-trial-button {
    background-color: #ffffff; /* White background */
    color: #000000; /* Black text */
    border: 1px solid #000000; /* Black border */
    padding: 10px 20px; /* Padding */
    border-radius: 25px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s, color 0.3s;


    position: fixed;
    top: 10px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
    z-index: 999; /* Ensure it's above other elements */
}

.start-trial-button:hover {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.instagram-button {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  border: 1px solid #000000; /* Black border */
  padding: 10px 20px; /* Padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s, color 0.3s;
}

.instagram-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.home-button {
  background-color: #ffffff; /* White background */
  color: #000000; /* Black text */
  border: 1px solid #000000; /* Black border */
  padding: 10px 20px; /* Padding */
  border-radius: 25px; /* Rounded corners */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  transition: background-color 0.3s, color 0.3s;

}

.home-button:hover {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #ffffff;
}


.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
  }
  
  /* The container <div> - needed to position the drop-down content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style the drop-down menu (content) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the drop-down menu */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of drop-down links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  /* Show the drop-down menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the drop-down button when the drop-down content is shown */
  .dropdown:hover .dropbtn {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
  }

  .dropbtn .fa5.fa-bars{
    color: white;
  }

.image-container {
      position: relative;
      width: 100%;
      height: 900px; /* Adjust height as needed */
      overflow: hidden;
  }
    
  /* Individual images */
  .image-container img{
      position: absolute;
      top: 0;
      right: 10px;
      opacity: 0; /* Start with images hidden */
      transition: opacity 0.5s ease-in-out; /* Smooth transition */
  }

  .image-container p {
    position: relative;
    top: 0;
    left: 0;
    width: 50%; /* Adjust the width as needed */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    padding: 0px; /* Add padding as needed */
  }

.animate {
  opacity: 0;
  transition: opacity 0.5s ease;
}
  