h1 {
    color: red; 
}

#ch{
    display: none;
}

#ch:checked ~ .content{
    display: block;
}

#ch:checked ~ label{
    display: none; 
}
.content {
    display: none;
}

label {
    display: inline-block;
    cursor: pointer;
    color: black;
    background-color: #fff;
    padding: 3px 13px;
    border-radius: 3px;

}